@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["HideNav"] = true;

}

<h1>
    Welcome to Blood Donation Management System
</h1>

<h3>
    to install app Please Click the button below
</h3>
<h3 class="alert alert-danger">When you initialize app your username will be admin and password is 123</h3>
<form asp-controller="InitApp"
      asp-action="initAppTask"
      method="post"
      style="display:inline">

      <h1>Add your connection string here</h1>
    <input type="text" class="form-control w-100" name="connectionString"  placeholder="Enter Connection string">

        <button type="submit" class="btn btn-sm btn-primary w-100 fs-5 mt-3" )>
            Initialize app
        </button>
</form>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
