@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Access Denied";
}
<div class="container mt-5 text-center">
    <h1 class="text-danger">🚫 Access Denied</h1>
    <h3 class="text-secondary">You do not have permission to view this resource.</h3>
    <p>Please contact your administrator if you believe this is a mistake.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Go Back Home</a>
</div>