@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserMenuLayout";
}

@model User
<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="UpdateContainer" style="height:auto">
        <h3 class="d-flex justify-content-center w-100">Change Password</h3>

        <label>Current Password</label>
        <input type="password" name="currentPassword" class="update-input" placeholder="Current Password" required />

        <label>New Password</label>
        <input type="password" name="newPassword" class="update-input" placeholder="New Password" required />

        <label>Confirm Password</label>
        <input type="password" name="ConfirmPassword" class="update-input" placeholder="Confirm Password" required />

        <button type="submit" class="btn btn-primary mt-3">
            Update Password
        </button>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="mt-3">
                <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
            </div>
        }
    </div>
</form>