@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    ViewData["HideNav"] = true;
    ViewData["CustomClass"] = "Login-style";
}
@model BloodDonationSystem.Models.User

<form asp-controller="Account" asp-action="UserLogin" method="post">

<div class="LoginContainer" style="width:auto">
    <h3 class="d-flex justify-content-center  w-100">Login</h3>
    <label>Username/Email/Phone Number</label>
        <input type="text" name="Name" class="login-input" placeholder="Username/Email/Phone Number" />
    <label>Password</label>
        <input type="password" name="Password" class="login-input" placeholder="Password" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <button type="submit"  class="login-btn">
        Log In
    </button>
    <br />


    <p class="d-flex justify-content-center align-content-center">
        dont have an account yet? <a asp-controller="Account" asp-action="Register">Register here!</a>
    </p>

</div>
</form>