@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Verify";
    ViewData["HideNav"] = true;
    ViewData["CustomClass"] = "Login-style";

}
@model string

<form asp-controller="Account" asp-action="VerifyRegisterOTP" method="post">


    <div class="LoginContainer d-flex gap-3" style="width:auto; height:auto;">
        <h4>Login Register</h4>

        <h4>Enter the OTP sent to your Email.</h4>
        <h5>The OTP @Model</h5>

        <input class="form-control" type="text" name="userEnteredOtp" required />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button type="submit">Verify & Register</button>
    </div>
</form>