@{
    ViewData["Title"] = "Home Page";
}
@model Donor

<div class="text-center">
    <h1 class="display-4">Welcome To Blood Donation System</h1>
    <h1>
        Hello @User.Identity.Name

    </h1>
    <h2>Donate Blood, Save Lives </h2>
    <br />
    <h1>Be a Hero, Give Blood Today!</h1>
    <hr />
    @if (Model == null)
    {
        <h1>Fill the Form Below To Become a donor</h1>
        <div class="DonorForm">
            <form asp-controller="Home"
            asp-action="CreateDonor"
            method="post"
            style="display:inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.IsAvailable" />

                <span>Will you Be Available for Blood Donations? </span><br />
                <button type="submit" class="btn btn-sm btn-danger mt-3">
                    Become A Hero!
                </button>
            </form>
        </div>

    }
    else
    {
        @if (Model.IsAvailable == true)
        {
            <h3>Thank you for being a hero! Your willingness to donate blood makes a difference in saving lives.</h3>
            <form asp-controller="Home"
            asp-action="SetDonorToUnAvailable"
            method="post"
            style="display:inline">
                <button type="submit" class="btn btn-sm btn-primary">
                    Asign yourself as Unavailable
                </button>
            </form>
        }
        else if (Model.IsAvailable == false)
        {
            <h3>Thank you for registering as a donor. We appreciate your willingness to help others in need.</h3>

            <h4>If you wish to become available for blood donations, please update your status below:</h4>

            <form asp-controller="Home"
            asp-action="SetDonorToAvailable"
            method="post"
            style="display:inline">
                <button type="submit" class="btn btn-sm btn-primary">
                    Become Available
                </button>
            </form>
        }

    }
</div>
<h1 class="d-flex justify-content-center">Blood types guide table</h1>
<table class="table table-striped" style="width:50vw">
    <thead>
        <tr>
            <th>Blood Type</th>
            <th>Can Donate</th>
            <th>Can Recieve</th>
        </tr>
    </thead>
    <tbody>
                <tr>
                    <td> A+</td>
            <td>A+, AB+</td>
            <td>A+, A–, O+, O–</td>
                </tr>
        <tr>
            <td>A-</td>
            <td>A+, A–, AB+, AB–</td>
            <td>A–, O–</td>
        </tr>
        <tr>
            <td>B+</td>
            <td>B+, AB+</td>
            <td>B+, B–, O+, O–</td>
        </tr>
        <tr>
            <td>B-</td>
            <td>B+, B–, AB+, AB–</td>
            <td>B–, O–</td>
        </tr>
                <tr>
                    <td>AB+</td>
            <td>AB+</td>
            <td>All blood types (universal recipient)</td>
                </tr>
        <tr>
            <td>AB-</td>
            <td>AB+</td>
            <td>AB–, A–, B–, O–</td>
        </tr>
        <tr>
            <td>O+</td>
            <td>O+, A+, B+, AB+</td>
            <td>O+, O–</td>
        </tr>
        <tr>
            <td>O-</td>
            <td>All blood types (universal donor)</td>
            <td>O–</td>
        </tr>
            
    </tbody>
</table>