@{
    ViewData["Title"] = "Home Page";
}
@model Donor

<div class="text-center">
    <h1 class="display-4">Welcome To Blood Donation System</h1>
    <h2>Donate Blood, Save Lives </h2>
    <br />
    <h1>Be a Hero, Give Blood Today!</h1>
    @if(Model != null)
    {
        <h3>Thank you for being a hero! Your willingness to donate blood makes a difference in saving lives.</h3>
    } else {
        <h1>Fill the Form Below To Become a donor</h1>
        <div class="DonorForm">
            <form asp-controller="Home"
                  asp-action="CreateDonor"
                  method="post"
                  style="display:inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.IsAvailable" />

                <span>Will you Be Available for Blood Donations? </span><br />
                <button type="submit" class="btn btn-sm btn-danger mt-3">
                    Become A Hero!
                </button>
            </form>    
        </div>
    }
</div>
